{% extends "base.html" %}
{% block head %}
<script src="{{ url_for('static', filename='scripts/search.js') }}"></script>
{% endblock %}

{% block content %}
<div class="container h-100" id="wmi_action_search_div">
    <div class="row h-25 justify-content-center align-items-center">
        <div class="col-md-6 align-self-center">
            <input class="form-control" type="text" placeholder="WMI action search..." aria-label="Search"
                   id="wmi_action_search" name="wmi_action_search">
        </div>
    </div>
    <div class="row h-100" id="result"></div>
</div>
<script>
    $(document).ready(function(){
      $('#wmi_action_search').keyup(function(){
        var search = $(this).val();
        if(search != ''){
        load_wmi_actions(search);
       }
      });
    });
</script>
{% endblock %}